@font-face {
  font-family: 'icomoon';
  font-display:swap;
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAfkAAsAAAAAB5gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGJGNtYXAAAAFoAAAAVAAAAFQXVtKKZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAA8gAAAPIDbdvXWhlYWQAAAWMAAAANgAAADYTsM39aGhlYQAABcQAAAAkAAAAJAmTBZpobXR4AAAF6AAAACAAAAAgF9EAn2xvY2EAAAYIAAAAEgAAABIDYAI4bWF4cAAABhwAAAAgAAAAIAAOAH1uYW1lAAAGPAAAAYYAAAGGmUoJ+3Bvc3QAAAfEAAAAIAAAACAAAwAAAAMD9wGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QMDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkD//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAABAB8/8ADhAPAAB8ALwA/AF4AAAEhIgYVETMuATU0Njc+ATc1IRUHETceATMyNjURNCYjAyImJyM1Mz4BMzIWFRQGIyUeARcVFAYjIiY1ETMGFhc3FhQPAQ4BIyImJyY0PwEjIiY1NDY7AScmNDc2Mh8BA2z9rQoOIQgICwoDBAICJPr8AgwICg4OCrMJDQEbGwINCAkODgn+bgMEAg4JCg4hEQMTqwcHdAQJBAUJBAcHS/IKDg4K8ksHBwgUB3QDwA4K/pwJFwwPGgoCBALlEbX89rcHCg4KAyoKDv1zEg4VDREYEhEYIgIEAdAKDg4KATYVNhS9BxQHdAQDAwQHFAdLDgoKDksHFAcHB3QAAAAEABz/4gPkA6kAGwA4AGEAegAABSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBgMiBw4BBwYVFBceARcWMzI3PgE3NjU0Jy4BJyYjAzI2Nz4BPQE0JicuASMqATEwBgc1Nz4BNzoBMTAUMREUFhceARcVIzUTPgEzMhYXHgEVFAYHDgEjIiYnLgE1NDY3AgBkWFiEJiYmJoRYWGRkWFiEJiYmJoRYWGRXTk50IiIiInROTldXTk50IiIiInROTlc/FhkFBAcBBQQKCAUBDgkRHjANBAgHBAQaFbw5BQ8JCBAECQgHBAkLCQgQBAkIBwQeJiaDWFhlZFhYgyYmJiaDWFhkZVhYgyYmA44iIXVNTldYTU50IiIiInROTVhXTk11ISL9eAcEBBsavA0RBAgJAQUMBQkRCQb+6RUbCQQJBAYMAgYEBwcEBQ8JCBAEBQcHBQgMCAkPBQAAAAAFAAD/wAXRA8AAAwAHAAsADwATAAAlIxUzAREhEQMhESE1ITUhASEVIQF0urr+jAXRXfrpBRf66QUX/i/+LgHS110DRvwABAD8XQHSurr9dF0AAAACAAf/wgP5A74AGwA/AAABMjc+ATc2NTQnLgEnJiMiBw4BBwYVFBceARcWAQMuAS8BJgYHDgEjIiYnLgEPAQ4BBwMGFhceATMhMjY3PgEnAgAwKSo+EhISEj4qKTAvKik+EhISEj4pKgIocwQOCLMDBwMmVy8uWCYDBgOzCQ0EdAUCCAgZDwOIDxoICAIGAaEWFUkxMjhNNDQ+Dg0NDj40NE04MjFJFRb+cwEGCQ8EXgIBAh0eHh0CAQJeBA8J/voOHQ0MDg4MDR0OAAABAAAAAAAAMlWyy18PPPUACwQAAAAAANdgxMAAAAAA12DEwAAA/8AF0QPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAXRAAAAAAXRAAEAAAAAAAAAAAAAAAAAAAAIBAAAAAAAAAAAAAAAAgAAAAQAAHwEAAAcBdEAAAQAAAcAAAAAAAoAFAAeAKYBVAF+AeQAAAABAAAACAB7AAUAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABwAAAAEAAAAAAAIABwBgAAEAAAAAAAMABwA2AAEAAAAAAAQABwB1AAEAAAAAAAUACwAVAAEAAAAAAAYABwBLAAEAAAAAAAoAGgCKAAMAAQQJAAEADgAHAAMAAQQJAAIADgBnAAMAAQQJAAMADgA9AAMAAQQJAAQADgB8AAMAAQQJAAUAFgAgAAMAAQQJAAYADgBSAAMAAQQJAAoANACkaWNvbW9vbgBpAGMAbwBtAG8AbwBuVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwaWNvbW9vbgBpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuUmVndWxhcgBSAGUAZwB1AGwAYQByaWNvbW9vbgBpAGMAbwBtAG8AbwBuRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff'),
    url('/static/fonts/icomoon.ttf?elzmu1') format('truetype'),
    url('/static/fonts/icomoon.svg?elzmu1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e900";
}
.icon-atf-tooltip:before {
  content: "\e901";
}
.icon-credit-card:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
